/*overwrite w3*/
#page_title, p.subtitle{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    font-weight: lighter;
}
#page_title{margin:0.5em;}
#page_article{line-height:2em;}

.mySlides1, .mySlides2, .mySlides3, .mySlides4, .mySlides_gif {
	display: none;
}

section img{
	border: 1px solid;
	background: var(--light-slate);
	width: 600px;
	height: 600px;
	margin-left: 100px;
	padding: 1em;
	object-fit: contain;
	border-radius: 5%;
}

.w3-container{width: 750px;}
.w3-left, .w3-right, .w3-badge {cursor: pointer}
.w3-badge {height:13px; width:13px; padding:0}

img.button{

    width: 35%; 
    height: auto;
	border: 2px dashed black;
	border-radius: 15%;
	margin-left: 33%;
}

p.subtitle{
    font-family: 'Courier New', Courier, monospace;
    font-weight: light;
	text-align: center;
    padding: 0 15px;	
	font-size:50%;
}

div.space
{
	margin-top: 20%;
}

article.page_article{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	width: 80%;
	margin-left: 10%;
	font-size:32px;
}
