main, aside{
	font-size: 50%;	
}
article li{
	padding: 0.5em;
}

ul.out li{
  list-style-type: "✥";
}

ul.in li{
  list-style-type: "✣";
}


span.resume{
	font-weight: normal;
    color: rgb(241, 121, 143);
    padding: 0 5px;
	margin-left: 50px;
	font-size: 32px;
}

span.subtitle{
    color: pink;
	text-align: center;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    line-height: 0.1em;
}

aside{
	width: 30%;
	height: 250vh;
	float: left;
	margin-right: 2em;
	margin-left: 20%;
}

#profile{
	text-align: center;
}

main.resume_list{
	width: 80%;
	
}

img.profile{
	text-align: center;
    width: 80%; 
	margin: 2em;
	border-radius: 10%;
}

#footer_image{
	margin: 0em 0em;
}

#clear{
	clear: both;
}

#resume_button{width:20%; height: auto;}